:root {
	--primary-color: #007BFF;
	--secondary-color: #FFC107;
	--accent-color: #28A745;
	--background-color: #121212;
	--card-background: #1E1E1E;
	--text-color: #E0E0E0;
	--error-color: #DC3545;
	--success-color: #28A745;
}

 .profile-card {
	background: var(--card-background);
	border-radius: 12px;
	box-shadow: 0 2px 15px rgba(255, 255, 255, 0.1);
	width: 250px;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
	color: var(--text-color);
 }
 
 .profile-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
 }
 
 .profile-image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border: 4px solid rgb(255, 255, 255); 
 }
 
 .profile-name {
	font-size: 1.8em;
	margin-bottom: 10px;
	font-weight: bold;
	color: var(--secondary-color); 
 }
 
 .profile-description {
	font-size: 1em;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: var(--text-color);
	margin-bottom: 20px;
 }
 
 .summary-btn {
	background-color: var(--accent-color);
	color: rgb(0, 0, 0);
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.3s ease;
 }
 
 .summary-btn:hover {
	background-color: var(--accent-color);
	transform: translateY(-3px);
 }
 