:root {
  --primary-color: #FF6F61;
  --secondary-color: cyan;
  --accent-color: #44f74a;
  --background-color: #1e1e1e;
  --card-background: #0c0c0c;
  --text-color: #eeeaea;
  --error-color: #E74C3C;
  --success-color: #28A745;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
  color: #44f74a;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out;
}


.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.profile-card {
  background: var(--card-background);
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.1);
  padding: 24px;
  margin: 16px;
  width: 270px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
}

.profile-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 7px 25px rgb(124, 237, 255);
}

.profile-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 12px;
}

button {
  margin-top: 12px;
  padding: 10px 24px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
  transform: translateY(-3px);
}

.back-button {
  margin: 20px;
  padding: 10px 24px;
  background-color: #E74C3C;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.back-button:hover {
  background-color: #C0392B; 
  transform: translateY(-3px);
}

